*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/commons/build/
/commons/build/intermediates/javac/debug/classes/
/core/build/
/core/build/intermediates/javac/debug/classes/
/patternlockview/build/
/patternlockview/build/intermediates/javac/debug/classes/
/recyclerviewfastscroller/build/
/recyclerviewfastscroller/build/intermediates/javac/debug/classes/
/rtl-viewpager/build/
/rtl-viewpager/build/intermediates/javac/debug/classes/
/rxjava/build/
/rxjava/build/intermediates/javac/debug/classes/
/rxjava2/build/
/rxjava2/build/intermediates/javac/debug/classes/